*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #212121; /* Change this to your desired background color */
    color: #c9c9c9; /* Change this to your desired text color */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    font-family: Arial, sans-serif; /* Change font if desired */
}


.content-view{
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
}


video {
    width: 100%;
    max-height: 70vh
}

.video-controls-container{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    z-index: 100;
}