*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
}


.content-view{
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
}


video {
    width: 100%;
    max-height: 70vh
}

.video-controls-container{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    z-index: 100;
}