*, *::before, *::after{
    box-sizing: border-box;
}


.content-pane{
    width: 1080px;
    height: 720px;
    position: relative;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
}

/* Video and images should not exceed the content pane's size */
.content-pane img,
.content-pane video {
    max-width: 100%; /* Prevent media from exceeding the pane’s width */
    max-height: 100%; /* Prevent media from exceeding the pane’s height */
    display: block; /* Ensure media doesn’t have any extra space around */
}


.form-control-file{
    display: none;
}


.content-view{
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin: 0;
}



.timeline-range{
    padding: 10px 0;
    min-width: 1080px;
}


video {
    width: 100%;
    max-height: 70vh
}

.video-controls-container{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    z-index: 100;
}